body {
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    text-align: justify;
}

 article {
    flex:2;
    overflow-y: auto;
}

aside {
    flex: 1;
    overflow-y: auto;
}

header, footer, main {
    border: 1px solid rebeccapurple;
}

h1, h2, h3 {
    text-align: center;
}


